
<head>
  <title>Tuiu Andrei</title>
 <style>
body  {
    background: url("http://wallpaper.pickywallpapers.com/1920x1080/breaking-bad-remember-my-name.jpg") ;
    background-size: 100% 100%;
}

  h1, h2   {text-shadow: 0 0 6px white; color:FFCC66;text-align: center;font-size:250%;font-family: 'Lucida Bright', Georgia, serif;}
  p    {color:FFCC66}
#grad1 {
  background: -webkit-linear-gradient(rgba(31,169,244,1), #464646); 
  background: -o-linear-gradient(rgba(31,169,244,1), #464646); 
  background: -moz-linear-gradient(rgba(31,169,244,1), #464646); 
  background: linear-gradient(rgba(31,169,244,1), #464646);
border-radius: 25px;
}
ul {margin: 0;padding: 0;}
ul.menu {
position:relative;
left:40%;top:0;

    height: 80px;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    float:left;
}
ul.menu li {
    list-style: none;
    float:left;
    height: 79px;
    text-align: center;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
    }

ul li a {
	font-family: 'Lucida Bright', Georgia, serif;
    display: block;
 text-decoration: none;
    padding: 0 20px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    line-height: 79px;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    }
a:visited {
    color: black;
}
 
ul li a:hover {
    background: transparent none;
}
 
ul li.active a{
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
}
.wrapper {
    width:70%;
    left:15%;
    height: 80px;
    background : #464646;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    border-top: 2px solid #939393;
    position: relative;
    margin-bottom: 30px;
    border-radius: 25px;
}
.mare {
font-size: 200%;
border-radius: 25px;
 	left:42%;
    width: 200px;
    height: 100px;
text-align:center;
 color:black;
    padding: 10px 40px;position: relative; 
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
 font-weight: bold;
}
.p1{background: url("b1.jpg") no-repeat;}
.p2{background: url("b2.jpg") no-repeat;}
.p3{background: url("b3.jpg") no-repeat;}
.p4{background: url("b4.jpg") no-repeat;}
.mare:hover {
    width: 250px;
    height: 440px;
border-radius: 25px;
    
}
}
</style>
</head>
<body>
<div id="grad1">
  <h1>Breaking Bad</h1>
  <br><br></div>
<hr>

<div class="wrapper">
<ul class="menu">
<li ><a href="../Atestat HTML.html">Home</a></li>
<li class="active"><a href="#">Actori</a></li>
<li ><a href="pag 3.html">Adresa</a></li>

</ul>
</div>
<div class="mare p1">Bryan Cranston</div><br><br>
<div class="mare p2">Aaron Paul</div><br><br>
<div class="mare p4">Anna Gunn</div><br><br>
<div class="mare p3">Dean Norris</div>

